.main-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    /* height: 10vh;
    overflow: auto; */
}

td,
th {
    /* border: 1px solid black; */
    padding: 10px 20px;
}

tr:hover {
    background-color: #f3f4f4
}

.head-table {
    background-color: #f3f4f4
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.filter-section select {
    width: 200px;
    height: 40px;
    padding: 0.5rem;
}

.filter-section button,
button {
    color: white;
    background-color: #017bff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
}

.filter-section button:hover {
    background-color: blue;

}

.filter-section {
    position: sticky;
    top: 0;
    background-color: white
}

.product-page {
    padding: 0.5rem;
}

.product-page h1 {
    font-size: 30px;
}