.nav-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    background-color: #202124;
    padding: 0.5rem
        /* gap: 20px; */
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-top: 10px;
}

.nav-link:active {
    font-weight: 200;
}

.nav-bar h1 {
    color: white;
    font-size: 24px;
}